<div class="c-content">
  <h2>Create a new group:</h2>
  <form class="c-form" action="/group/new" method="post">
      <div class="c-form__item">
        <h4 class="c-form__title">Group name:</h4>
        <input type="name" name="name" value="">
      </div>
      <div class="c-form__item">
        <h4 class="c-form__title">Description:</h4>
        <input type="description" name="description" placeholder="Group description">
      </div>
      <div class="c-form__item">
        <button type="submit" name="submit">Submit</button>
      </div>
  </form>
</div>
