<div class="c-content">
  <h2>Search for a song</h2>

  <h2>Submit a new post:</h2>
  <form class="c-form" action="/post/new" method="post">
      <div class="c-form__item">
        <h4 class="c-form__title">Copy and past the Spotify URI:</h4>
        <input type="url" name="spotifyURL" value="spotify:track:0Ws8D3EWUDgY962Xftb0h5">
      </div>
      <div class="c-form__item">
        <button type="submit" name="submit">Post!</button>
      </div>
  </form>
</div>
