<div class="c-content">
  <h2>Search for a song</h2>

  <form class="new-track-search">
    <label for="search"></label>
    <input type="text" name="trackSearch" placeholder="Track" value="">
    <button type="submit" name="trackSearch">Search</button>

    <input type="hidden" name="group" value="{{groupID}}">
  </form>

  <div class="searchResultsApp">
  </div>


</div>
