<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JustNoise</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="c-header">
      <h1><a href="/">JustNoise</a></h1>
      <ul class="nav navbar-nav navbar-right">
    {{#if user}}
        <li>
          <a href="/users/">Users</a>
        </li>
        <li> <a href="/users/{{user.username}}"> Hello, {{user.username}} </a> </li>
        <li><a href="/logout">Log out</a></li>
    {{else}}
        <li><a href="/auth/spotify">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
    {{/if}}
</ul>
    </div>

    {{{ body }}}

    <footer>
      <div class="c-content">
        Copyright 2017
      </div>
    </footer>
    <script src="/main.js"></script>
  </body>
</html>
