<div class="c-content jumbotron">
  <h1>Welcome to JustNoise</h1>
  <p>JustNoise is a place for you to share your music taste with your friends in a simple, user focused environment.</p>
  <h2>All Groups</h2>
  <div class="c-wall">
    <ul>
    {{#each groups}}
      <li>
        <h3><a href="/group/{{_id}}"> {{ name }}</a></h3>
        <p> {{ description }} </p>
      </li>
    {{/each}}
    </ul>
    <a href="/group/new">Create new group</a>
  </div>

</div>
